body {
    margin: 0px;
}

body {
    background: linear-gradient(270deg, #a52a2a, #d2691e, #ee6e40, #ff7f50, #ff7f61, #ff8f61);
    background-size: 1200% 1200%;

    -webkit-animation: BackgroundGradientChange 1s ease infinite;
    -moz-animation: BackgroundGradientChange 1s ease infinite;
    -o-animation: BackgroundGradientChange 1s ease infinite;
    animation: BackgroundGradientChange 1s ease infinite;
}

@-webkit-keyframes BackgroundGradientChange {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes BackgroundGradientChange {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes BackgroundGradientChange {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes BackgroundGradientChange {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

header {
    display: block;
}

header img {
    padding: 10px;
    background-color: #a52a2a;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: auto;
}

header nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    background-color: #d2691e;
}

nav li {
    display: inline;
}

nav li a {
    transition: background-color 1s;
    display: inline-block;
    color: #ffffff;
    background-color: #a52a2a;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "M PLUS 1", sans-serif;
}

nav li a:hover {
    background-color: #d2691e;
}

.current {
    background-color: #ff8f61;
}

.current:hover {
    background-color: #ff7f61;
}

main {
    margin: 10px;
    padding: 10px;
    background-color: #d2691e;
    font-family: "Open Sans", sans-serif;
    color: #ffffff;
}

main p {
    font-family: "Roboto", sans-serif;
}