body {
    margin: 0px;
    background-color: #a52a2a;
    overflow: overlay;
}

.content {
    padding: 10px;
    background-color: #a52a2a;
}

header {
    display: block;
    padding: 10px;
    margin: 10px;
    width: 95.75%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

header img {
    padding: 15px;
    border-radius: 25px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: auto;
}

header a, .fp-header a, .order-button {
    list-style-type: none;
    margin: 0px;
    padding: 10px;
    display: inline-block;
    transition: background-color 1s;
    color: #ffffff;
    background-color: #a52a2a;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-family: "M PLUS 1", sans-serif;
    border-radius: 25px;
    border: none;
}

header a:hover, .fp-header a:hover, .order-button:hover {
    background-color: #d2691e;
}

.current {
    background-color: #ff8f61;
}

.current:hover {
    background-color: #ff7f61;
}

.fp-header {
    height: 30rem;
    background-position: center;
    background-image: url("../img/lyza.png");
    background-repeat: no-repeat;
    padding: 30px;
    text-align: center;
    font-family: "M_PLUS_1", sans-serif;
    border-radius: 25px;
}

main {
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
    background-color: #d2691e;
    font-family: "Open Sans", sans-serif;
    color: #ffffff;
}

main p {
    font-family: "Roboto", sans-serif;
}

main a {
    text-decoration: none;
    color: #dddddd;
    transition: color 500ms;
}

main a:hover {
    color: #ffffff;
}

::-webkit-scrollbar {
    border-radius: 25px;
    width: 14px;
    overflow: overlay;
    scrollbar-gutter: initial;
}

*:hover::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    visibility: hidden; 
    margin: 20px;
}

::-webkit-scrollbar-thumb {
    border-radius: 25px;
    border: 6px solid #544c4a;
    background-color: #544c4a;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #363636;
    border: 0;
}

.flex-w {
    display: flex;
    flex-direction: row;
}

.flex-w div {
    flex: 50%;
    padding: 10px;
    margin: 10px;
    background-color: #a52a2a;
    border-radius: 25px;
}

.flex-w-nc {
    display: flex;
    flex-direction: row;
}

.flex-w-nc div {
    padding: 10px;
    margin: 10px;
}

.cover {
    width: 95%;
    height: auto;
}

@media (max-width: 1440px) {
    .fp-header {
        background-position: right;
    }
}

@media (max-width: 1000px) {
    body {
        margin: 0px;
    }

    .content {
        width: 100%;
        border-radius: 0px;
    }

    .flex-w {
        flex-direction: column;
    }

    .flex-w div {
        flex: 100%
    }

    header {
        font-size: 30px;
    }
}